<!doctype html>
<html>
	<head>
		<title></title>
	</head>
	<body style="display: flex; flex-direction:column; justify-content:center; align-items:center">
		<header>
			<img
				src="img/logo.png" alt=""
				style="width: 15vh;"
			>
		</header>
		<div class="navigator-container">
			<a href="/">HOME</a>
			<a href="/about">ABOUT</a>
		</div>
		{{{body}}}
	</body>
	<style>
		body {
			font-family: Arial, Helvetica, sans-serif;
		}
		hr {
			width: 90%;
		}
		.navigator-container {
			margin-top: 20px;
			cursor: pointer;
		}
		h1 {
			margin-top: 40px;
		}
		a {
			color: black;
			border: 1px solid black;
			padding: 20px;
			text-decoration: none;
			margin: 0vh 2.5vh 2.5vh 2.5vh;
		}
	</style>
</html>